@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/roboto/regular/Roboto-Regular.eot') format('eot'),
    url('../fonts/roboto/regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/roboto/regular/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/roboto/medium/Roboto-Medium.eot') format('eot'),
    url('../fonts/roboto/medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/roboto/medium/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/roboto/bold/Roboto-Bold.eot') format('eot'),
    url('../fonts/roboto/bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/roboto/bold/Roboto-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/opensans/bold/OpenSans-Bold.eot') format('eot'),
    url('../fonts/opensans/bold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/opensans/bold/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'EyesWideOpen';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/eyeswideopen/regular/EyesWideOpenPersonalUse.eot') format('eot'),
    url('../fonts/eyeswideopen/regular/EyesWideOpenPersonalUse.woff') format('woff'),
    url('../fonts/eyeswideopen/regular/EyesWideOpenPersonalUse.ttf') format('truetype');
}
